<h1></h1>
<p>
<div class="jumbotron text-center">
  <h1>Welcome to Mayo Clinic</h1>
  <p>Mayo Clinic has a responsibiity to lead the transformation of health care !</p>
  <a href="https://github.com/wanyingxue94/Mayo-Clinic">Github link</a>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
	  <%= image_tag("c1.jpg", :size => "304x236") %>
      <h3>A Bold Vision For The Future</h3>
      <p>Mayo will lead the way becuse we operate from a position of strength and integrity</p>
      <p>Transformation is about carrying the best of Mayo Clinic forward in a new world order.</p>
    </div>
	
	
    <div class="col-sm-4">
	  <%= image_tag("c2.jpg", :size => "304x236") %>
      <h3>Center For Individualized Medicine</h3>
      <p>We find answers to diseases based on new ways to use your genome to give you the best treatment available for you.</p>
      
    </div>
	
	
    <div class="col-sm-4">
	  <%= image_tag("c3.jpg", :size => "304x236") %>
      <h3>Center For Regenerative Medicine</h3>
      <p>Researchers harness our collective knowledge, resources and skills to teach your body to heal from within and provide definitive solutions.</p>
      
    </div>
  </div>
</div>

</p>




